//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
@import './source/fonts.scss';
//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
body {
	font-family: 'Ubuntu';
	font-style: normal;
	color: #000;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------

//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import './source/null.scss';
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------

//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
	overflow: hidden;
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------

//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	margin: 0 auto;
	padding: 0 15px;
	@media (min-width: 1200px) {
		padding: 0 30px;
	}
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------

//-----[---ОСНОВНОЙ БЛОК---]----------------------------------------------------------------------------------------------------------
@import './source/content.scss';
@import './source/img.scss';
@import './source/buttons.scss';
@import './source/animation.scss';
//-----[--/ОСНОВНОЙ БЛОК/--]----------------------------------------------------------------------------------------------------------
